.interessante
    &__title
        font-family: Open Sans
        font-size: 14px
        font-weight: 700
        line-height: 32px
        text-align: left
        color: var(--fontDarkColor)
        margin: 37px 0px 3px 1px
    &__item-container
        margin: 0 0 13px 0px
        padding-bottom: 13px
    &__item
        font-family: Open Sans
        font-size: 18px
        font-weight: 600
        line-height: 24px
        text-align: left
        color: var(--fontDarkColor)
